[Unit]
Description=Receiver
After=multi-user.target

[Service]
WorkingDirectory=/share/chase/
Type=simple
ExecStart=/usr/bin/npm run receiver
Restart=on-abort

[Install]
WantedBy=multi-user.target