[Unit]
Description=Web
After=multi-user.target

[Service]
WorkingDirectory=/share/chase/
Type=simple
ExecStart=/usr/bin/npm run web
Restart=on-abort

[Install]
WantedBy=multi-user.target