<% layout('layout') -%>

<h1>Admin</h1>
<br>
<button onclick="emptyDatabase()">Empty Database</button>
<script>
    emptyDatabase = () => {
      httpGetAsync("/emptydatabase", (result)=>{
         alert('hi5');
      });
    }
</script>