<% layout('layout') -%>
<div id="map"></div>
<script>

    var mapmargin = 50;
    $('#map').css("height", ($(window).height() - mapmargin));
    $(window).on("resize", resize);
    resize();
    function resize(){
        $('#map').css("height", ($(window).height() - (mapmargin+12)));    
        $('#map').css("margin-top",-21);
    }

    var mymap = L.map('map').setView([32.9628, -117.0359], 13);
    L.tileLayer('/map/{z}/{x}/{y}.png', {
        attribution: '',
        minZoom: 3,
        maxZoom: 15,
        maxBounds: [
            [34.184542, -117.141724],
            [32.505129, -114.515991]
        ],
        bounds: [
            [34.184542, -117.141724],
            [32.505129, -114.515991]
        ]
    }).addTo(mymap);
    mymap.locate({setView: true, maxZoom: 13});
    function onLocationFound(e) {
        var radius = e.accuracy / 2;

        L.marker(e.latlng).addTo(mymap).bindPopup("You are within " + radius + " meters from this point");
        L.circle(e.latlng, radius).addTo(mymap);
    }
    mymap.on('locationfound', onLocationFound);

    lastLoraMessageKey = null;

    window.setInterval(()=>{
      httpGetAsync("/mapData" + (lastLoraMessageKey == null ? "" : ("?id=" + lastLoraMessageKey)), (result)=>{
        var newData = JSON.parse(result);
        newData.forEach(a=>{
            var latLong = L.latLng(a.Latitude, a.Longitude);
            /*var circle = L.circle(latLong, {
            color: 'red',
            fillColor: '#f03',
            fillOpacity: 0.5,
            radius: 500
            }).addTo(mymap);*/
            L.marker(latLong).addTo(mymap).bindPopup(JSON.stringify(a));
        }); 
        if(newData.length > 0)
        {
            console.log(newData[newData.length -1]);
            lastLoraMessageKey = newData[newData.length -1].LoraMessageKey;
            console.log(lastLoraMessageKey);
        }


        });
        
    }, 5000);
</script>